* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* padding-left: 8rem;
  padding-right: 8rem; */
  width: 100%;
}

@media (max-width: 767px) {
  #root {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.sticky {
  position: sticky;
  top: 20px; /* Adjust this value as needed */
}



.hover {
  --c: #1095c1;
  /* the color */
  --s: .15em;

  line-height: 1.1em;
  background:
    linear-gradient(rgb(79, 70, 229) 0 0) 0/var(--_p, 0%) padding-box no-repeat;
  transition: .5s;
}

.hover:hover {
  --_p: 100%;
  color: white;
}