* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  overflow: hidden;
}


.sticky {
  position: sticky;
  top: 20px; 
}



.hover {
  --c: #1095c1;
  --s: .15em;

  line-height: 1.1em;
  background:
    linear-gradient(rgb(79, 70, 229) 0 0) 0/var(--_p, 0%) padding-box no-repeat;
  transition: .5s;
}

.hover:hover {
  --_p: 100%;
  color: white;
}