.page-transition-enter {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.page-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
